
* {
  text-decoration: none;
  font-family: 'calibri';
}

.login, .center_piece{
  display: flex;
  justify-content: center;
}

.login img{
  width:100px;
}

.login input{
  border: 1px solid #afd4c0;
  width: 70%;
  height: 18px;
}

.login_form {
  width: 520px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh
}

.form {
  width: 520px;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  background: linear-gradient(180deg, #e2f3ea , #ffffff );
  /* padding: 20px; */
}

.login_form{
  background-color: white;
  position: relative;
}

.login_form p {
  position: relative;
  left:-150px;
  font-size: 12px;
  margin-bottom:0px;
}

.login_buttons_div {
  margin-top: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 33%;
}

.login button{
  background-color: #8AEA92;
  width:70px;
  border:none;
  border-radius: 2px;
  height: 20px;
}

#dark_green{
  background-color: #3b5249;
  color:white;
}

.nav_bar{
  width: 100vw;
  height: 45px;
  background-color: #519872;
  display: flex;
  justify-content: center;
}

.nav_center{
  position: relative;
  /* border:1px solid black; */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
  width: 520px;
  color:white;
}

.nav_center button{
  position: absolute;
  right:10px;
  color:white;
  background-color: rgba(0,0,0,0);
  font-size:12px;
  border:none;
}

.nav_center img{
  margin:0 12px;
  width:25px;
}

/* strong{
  font-style: 
} */

.white {
  color:white;
  text-decoration: none;
}

.black {
  color:black;
  text-decoration: none;
}

.filter_row {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
  margin: 0 20px;
}

.filter_row input {
  width:60px;
}

.filter_row p{
  font-size:0.85rem;
}

.filter_row button {
  background-color: #8AEA92;
  border: none;
  border-radius: 2.5px;
  padding: 2px 6px;
  font-weight: bold; 
}

#add_new{
  color:black;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  background-color: #8aea92;
  border-radius: 3px;
  border:none;
  margin: 14px;
  padding: 3px 8px;
}

.center{
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: center;
}

hr{
  color: black;
  border-width: 1px;
}

.listing_div{
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  text-align: left;  
}

.listing-header {
  /* color:green; */
  /* margin-left:20px; */
  width: 90%;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.listing{
  position: relative;
  width:93%;
  background-color:#DDD; 
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 5px;
  overflow: hidden;
}

.image {
  min-width: 7rem;
  background: #CCC;
  border: none;
}

.property-box {
  min-width: 7rem;
  padding: 1rem;
}

.name {
  font-weight: bold;
}

.address-box {
  min-width: 16rem;
  max-width: 16rem;
  margin: 0.3rem;
  font-weight: bold;
}

.property-box p {
  margin-bottom: 0.5rem;
}

.address-box p {
  margin-bottom: 0.3rem;
}

.delete-button {
  position: absolute;
  background: none;
  border: none;
  color: white;
  padding: 5px;
}

.delete-button:hover {
  background: rgba(0,0,0,0.5)
}
